{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Log Out" %}</h3>
            <br>

            <p> <strong>{{ user.username }}</strong>{% trans ', you want to leave us already?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary right" type="submit">{% trans 'Leave Hobby Share' %}</button>
            </form>
            <br>
            <img src="https://images.pexels.com/photos/4439451/pexels-photo-4439451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="Goodbye">
        </div>
    </div>
</div>


{% endblock %}