{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby Share</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="about-header">Welcome to Hobby Share!</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">

            <h4 class="about-us-short">Who are we?</h1>
            <p class="who-are-we-p">
                We are a group of hobby enthusiasts who want others to share their interests to inspire people to try out new hobbies.
            </p>
          </div>
          <div class="col">
            <h4 class="about-call-to-action">What we want:</h1>
            <p class="what-we-want-p">Please join our community to start sharing your interest with others, perhaps you learn something new?</p>
          </div>
          <div class="text-center">
            <img src="https://mh-1-stockagency.panthermedia.net/media/media_detail/0028000000/28267000/~hobby-word-cloud_28267413_detail.jpg" class="img-bg" alt="Word Art Hobbies">
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-8"><h3 class="about-us">About Us:</h3>
              <div>
                <p>Hobby Share was established in the late 1990s in Manhattan, New York as a brick-and-mortar store. Where
                  book clubs were renting the place and organized events to share their most trending books with potential
                  customers. A couple of years later the user behavior changed profoundly since the internet became a
                  powerful source of communication and the market choose organizations like Amazon to get all the
                  introductions of the best-selling books online as well as able to make a purchase. It made us rethink
                  our business strategy and we wanted to create something new for our market. That is how we came up with
                  the idea that if people can share their hobbies online it will create a sense of gathering point.
                </p>
                <p>Thus, not only books but the interest of any kind and it is a great place to get to know each other.
                  Today people are receiving all sorts of information from social media and other websites that can be
                  very overwhelming for some people, but a platform like Hobby Share is able to create a channel for
                  sharing ideas. Most importantly create an online community.</p>
              </div> 
            </div>
          </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="https://images.pexels.com/photos/5699509/pexels-photo-5699509.jpeg?auto=compress&cs=tinysrgb&w=800" class="img-thumbnail" alt="Vinyl">
          </div>
          <div class="col">
            <img src="https://images.pexels.com/photos/6039249/pexels-photo-6039249.jpeg?auto=compress&cs=tinysrgb&w=800" class="img-thumbnail" alt="Skateboard">
          </div>
          <div class="col">
            <img src="https://images.pexels.com/photos/4861373/pexels-photo-4861373.jpeg?auto=compress&cs=tinysrgb&w=800" class="img-thumbnail" alt="Reading">
          </div>
        </div>
      </div>
    
 
    
</body>
</html>
{%endblock%}