{% extends 'base.html' %} {% block content %}

{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <div class="container">
    <div class="col card mb-5  mt-3 left  top">
        <div class="row">
          <div class="col">Email:</div>
          <div class="col">admin@hobbies.com</div>
          <div class="col">Visting Adress:</div>
          <div class="col">144 Main Stress, Stockholm</div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <div class="text-center">
        <img src="https://images.pexels.com/photos/2152/sky-earth-space-working.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="rounded" alt="contact out in the void">
      </div>
</body>
</html>

{% endblock %}