{% extends 'base.html' %} {% block content %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>
</head>
<body>

    <div class="container">
        <div class=col-sm-8>
            <h3>
                Contact Us|Support
                <br><small class="text-muted">Please contact us if you encounter any issues regards to your account|posts.</small>
              </h3>
        </div>

    </div>
    <br>
    <br>

    <div class="container">
        <div class= "row align-items-center">
            <div class="col">
                <h4>Contact details</h4>
            </div>
            <br> 
                <div class="col">
                    <h5>Email:</h5>
                </div>
                <div class="col">
                    admin@hobby.com
                </div>
                <div class="col">
                    <h5>Visting address:</h5>
                </div>
                <div class="col">
                    144 Main Street, Stockholm. <br>
                    112 53
                </div>
                    <img src="https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="contact us!">
    
                

        </div>
    </div>
        

    
</body>
</html>

{%endblock%}